@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

h1{

}

h2{

}

body{
    background: rgb(245, 245, 245);
    color: rgb(58, 57, 57);
    line-height: 22px;
    width: 800px;
    height: auto;
    margin: 50px auto;
    position: relative;
}

header{
    width: 100%;
    height: 200px;
    background: #006363;
    color: white;
}

main{
    width: 35%;
    height: 700px;
    float: left;
    background: rgb(230, 230, 230);
    padding: 20px 5px 20px 50px;
}

aside{
    width: 65%;
    height: 700px;
    float: left;
    padding: 20px 10px 20px 50px;
}

footer{
    clear: both;
    height: 50px;
    background: #006363;
}
.photo{
    width: 20%;
    float: left; 
    padding: 50px 50px;
    padding-bottom: 10px;
}    

.photo img{
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 10px rgb(236, 236, 202);
}

.info{
    width:50%;
    float: left;
    position: relative;
    padding-top: 80px;
    padding-left: 15px;
}

.contacts i{
    font-size: 14px;
}

.contacts{
    width: 30%;
    float: right;
    position: relative;
    padding-top: 35px;
}

div.data{
    font-size: 14px;
    position: relative;
    left:20px;
    bottom: 21px;
    margin-left: 10px;
}

.about{
    height: 30%;
    width: 100%;
}

.interests{
    height: 20%;
    width: 100%;
}

.reference{
    height: 30%;
    width: 100%;
}

.awwards{
    height: 20%;
    width: 100%;
}

.icon_circle{
    width: 35px;
    height: 35px;
    background: #006363;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding-top: 7px;
}

h2{
    position: relative;
    left: 40px;
    bottom: 28px;
    margin-left: 15px;
}
