@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

h1{
    letter-spacing:0.06em;
    font-size: 39.1px;
    line-height: 48px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 26.1px;
    line-height: 48px;
    font-weight: 400;
    position: relative;
    left: 40px;
    bottom: 28px;
    margin-left: 15px;
}

h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 17.9px;
    line-height: 19px;
    font-weight: 600;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17.9px;
    line-height: 29px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: thistle;
    text-decoration: underline;
}

body{
    background: whitesmoke;
    color: #000000;
    line-height: 22px;
    width: 1024px;
    height: auto;
    margin: 50px auto;
    position: relative;
}

header{
    width: 100%;
    height: 252px;
    background: #424c9e;
    color: white;
}

main{
    width: 35%;
    height: 1066px;
    float: left;
    background: #f7f7f7;
    padding: 20px 5px 20px 50px;
}

aside{
    width: 65%;
    height: 1066px;
    float: left;
    padding: 20px 10px 20px 20px;
    background: white;
}

footer{
    clear: both;
    height: 72px;
    background: #424c9e;
    color: white;
    padding-left: 50px;
}
.photo{
    width: 20%;
    float: left; 
    padding-top: 50px;
    padding-left: 70px;
}    

.photo img{
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 10px rgb(236, 236, 202);
}

.info{
    width:50%;
    float: left;
    position: relative;
    padding-top: 80px;
    padding-left: 40px;
    text-align: left;
}

.info p{
    font-size: 22.8px;
    line-height: 48px;
    font-weight: 600; 
}

.contacts i{
    font-size: 14px;
}

.contacts{
    width: 30%;
    float: right;
    position: relative;
    padding-top: 50px;
}

.data{
    font-size: 14px;
    position: relative;
    left:20px;
    bottom: 24px;
    margin-left: 10px;
}

.data p{
    line-height: 27px;

}

.about{
    height: 30%;
    width: 100%;
}

.interests{
    height: 20%;
    width: 100%;
}

.reference{
    height: 30%;
    width: 100%;
}

.awwards{
    height: 20%;
    width: 100%;
}

.icon_circle{
    width: 35px;
    height: 35px;
    background: #424c9e;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding-top: 7px;
}

figure{
    width: 33%;
    float: left;
}

figcaption{
    margin-top: 5px;
    text-align: inherit;
}

.icon_inter{
    width: 40px;
    height: 40px;
    background:rgb(230, 230, 230);
    color: #424c9e;
    border: 5px solid #424c9e;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    margin-left: 5px;
}

.icon_inter:hover{
    color:rgb(255, 209, 204);
    background: white;
}

.joined_list{
    padding-left: 20px;
    line-height: 6px;
}

.profile_data li{
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 12px;
    line-height: 10px;
}

.joined_list ul{
    padding-bottom: 10px;
}

.bullet-name::before{
    content: "";
    position: absolute;
    top: -4px;
    left: -12px;
    height: 3px;
    width: 3px;
    background: rgb(230, 230, 230);
    border-radius: 50%;
    border: 7px solid gray;
    opacity: 0.75;
}

.bullet-name{
    color: #424c9e;
}

.bullet-line::before{
    content: "";
    position: absolute;
    top: 30px;
    left: -4px;
    height: 60px;
    width: 1px;
    background: gray;
    opacity: 0.75;
}

.image{
    background-image: url("../img/magic_bean.jpg");
    height: 263px;
    width: 241px;
    margin: 10px;
    float: left;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 34px 0px rgba(133,129,128,0.1);
}

.image:hover{
    box-shadow: 0 0 15px #039494;
}

.description{
    background: white;
    width: 100%;
    height:96px;
    color: rgb(58, 57, 57);
    text-align: center;
    position: relative;
    top: 167px;
    padding-top: 18px;
    opacity: 0.75;
}

.portfolio{
    margin-left: 50px;
}

.footer-text{
    position: relative;
    top:30%;
    text-align: left;
    
}
