@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

h1{

}

body{
    background: whitesmoke;
    color: rgb(58, 57, 57);
    line-height: 22px;
    width: 800px;
    height: auto;
    margin: 50px auto;
    position: relative;
}

header{
    width: 100%;
    height: 200px;
    background: #006363;
    color: white;
}

main{
    width: 35%;
    height: 700px;
    float: left;
    background: rgb(230, 230, 230);
    padding: 20px 5px 20px 50px;
}

aside{
    width: 65%;
    height: 700px;
    float: left;
    padding: 20px 10px 20px 20px;
    background: white;
}

footer{
    clear: both;
    height: 50px;
    background: #006363;
    color: white;
}
.photo{
    width: 20%;
    float: left; 
    padding: 50px 50px;
    padding-bottom: 10px;
}    

.photo img{
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 10px rgb(236, 236, 202);
}

.info{
    width:50%;
    float: left;
    position: relative;
    padding-top: 80px;
    padding-left: 15px;
}

.contacts i{
    font-size: 14px;
}

.contacts{
    width: 30%;
    float: right;
    position: relative;
    padding-top: 35px;
}

div.data{
    font-size: 14px;
    position: relative;
    left:20px;
    bottom: 21px;
    margin-left: 10px;
}

.about{
    height: 30%;
    width: 100%;
}

.interests{
    height: 20%;
    width: 100%;
}

.reference{
    height: 30%;
    width: 100%;
}

.awwards{
    height: 20%;
    width: 100%;
}

.icon_circle{
    width: 35px;
    height: 35px;
    background: #006363;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding-top: 7px;
}

h2{
    position: relative;
    left: 40px;
    bottom: 28px;
    margin-left: 15px;
}

figure{
    width: 33%;
    float: left;
}

figcaption{
    margin-top: 5px;
    text-align: inherit;
}

.icon_inter{
    width: 40px;
    height: 40px;
    background:rgb(230, 230, 230);
    color: #006363;
    border: 5px solid #006363;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    margin-left: 5px;
}


.profile_data{
    position: relative;
    bottom: 10px;
}

.bulletpoint p{
    font-size: 12px;
}

.bulletpoint li{
    margin: 10px auto;
    position: relative;
}

.bulletpoint li:before{
   content : "";
   position: absolute;
   top:5px;
   left: -25px;
   height: 10px;
   width: 10px;
   border-left: 3px solid lightgray;
   border-radius: 50%;
}

.bulletpoint{
    border-left: 2px solid lightgray;
    padding-left: 20px;
    position: relative;
    bottom: 10px;
}

.portfolio img{
    height: 180px;
    margin: 7px;
}

.portfolio{
    margin-left: 50px;
}

