@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

h1{

}

body{
    background: rgb(245, 245, 245);
    color: black;
    line-height: 22px;
    width: 800px;
    height: auto;
    margin: 50px auto;
    position: relative;
}

header{
    width: 100%;
    height: 200px;
    background: #006363;
    color: white;
}

.photo{
    width: 20%;
    float: left; 
    padding: 50px 50px;
    padding-bottom: 10px;
}    

.photo img{
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 10px rgb(236, 236, 202);
}

.info{
    width:50%;
    float: left;
    position: relative;
    padding-top: 80px;
    padding-left: 15px;
}

.contacts i{
    font-size: 14px;
}

.contacts{
    width: 30%;
    float: right;
    position: relative;
    padding-top: 35px;
}

div.data{
    font-size: 14px;
    position: relative;
    left:20px;
    bottom: 22px;
    margin-left: 10px;
}
